@font-face {
  font-family: 'push-menu-custom';
  src: url('../font/push-menu-custom.eot?95902514');
  src: url('../font/push-menu-custom.eot?95902514#iefix') format('embedded-opentype'), url('../font/push-menu-custom.woff?95902514') format('woff'), url('../font/push-menu-custom.ttf?95902514') format('truetype'), url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'push-menu-custom';
    src: url('../font/push-menu-custom.svg?95902514#push-menu-custom') format('svg');
  }
}
*/
/* line 22, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/push-menu-custom */
[class^="i-"]:before, [class*=" i-"]:before {
  font-family: "push-menu-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/push-menu-custom */
.i-menu:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/push-menu-custom */
.i-close:before {
  content: '\e801'; }

/* '' */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 16, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }
  /* line 26, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  body.noscript .close-btn body.noscript .toggle-btn {
    display: none; }

/* line 31, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
header {
  padding: 1em 1em;
  position: relative;
  background-color: #1e7145; }

/* line 37, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
.toggle-btn {
  position: absolute;
  right: 1em;
  top: 2.5em; }

/* line 42, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
.close-btn {
  position: absolute;
  top: 0.5em; }

/* line 46, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
.close-btn, ul {
  background-color: #1e7145;
  padding: 1em 0;
  margin: 0; }

/* line 51, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
.navigation {
  margin: 0;
  padding: 0; }
  /* line 53, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .navigation li {
    list-style-type: none; }
    /* line 55, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
    .navigation li a {
      display: block;
      padding: 0.5em 1em;
      text-align: center;
      text-decoration: none;
      color: #1d1d1d;
      overflow: auto; }
    /* line 63, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
    .navigation li a:hover {
      color: #00a300;
      transition: all 500ms ease-in-out; }
    /* line 67, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
    .navigation lifirst-child a {
      border-top: 1px solid #00a300; }

/* line 72, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
.toggle-btn, .close-btn {
  color: #1d1d1d;
  height: 40px;
  width: 40px; }
  /* line 76, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .toggle-btn i, .close-btn i {
    padding: 0.5em; }
  /* line 79, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .toggle-btn i:hover, .close-btn i:hover {
    color: #00a300;
    transition: all 500ms ease-in-out; }
  /* line 83, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .toggle-btn span, .close-btn span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }

@media only screen and (max-width: 60em) {
  /* line 89, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100; }
    /* line 94, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
    .site-wrapper .sliding-canvas {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      transition: all 500ms ease-in-out; }
    /* line 103, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
    .site-wrapper[data-state="slide-open"] .sliding-canvas {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    /* line 107, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
    .site-wrapper[data-state="slide-open"] {
      overflow: visible; }

  /* line 113, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .slide-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
    min-height: 600px; }
 }

@media only screen and (min-width: 60em) {
  /* line 126, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .toggle-btn, .close-btn {
    display: none; }

  /* line 129, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .slide-menu {
    position: static;
    text-align: center; }

  /* line 133, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  h1 {
    text-align: center; }

  /* line 136, /Users/rebeccawright/Documents/GD Year 3/Semester 2/Web Dev/exercise-3/scss/components/main */
  .navigation li {
    text-align: center;
    display: inline-block; }
 }
